@media screen and (max-width: 1200px) {
  #hero p {
    font-size: 0.9rem;
  }
  #hero h1 {
    font-size: 2.3rem;
  }
}
@media screen and (max-width: 768px) {
  #hero .row {
    padding-bottom: 75px;
  }
  #about #about-text {
    text-align: justify !important;
  }
  #jabatan .card h3 {
    font-size: 1.3rem;
  }
  #jabatan .card {
    padding-left: 30px !important;
    padding-right: 30px !important;
    margin-top: 20px;
  }
}
@media screen and (max-width: 576px) {
  hr {
    width: 75%;
  }
  h1 {
    font-size: 2rem !important;
  }
}
